html,
body {
    color: #cdd6f4;

    font-family: Consolas, 'Courier New', monospace;
}

body {
    background-color: #1e1e2e;
}

.keyword {
    color: #cba6f7;
}

.local-variable {
    color: inherit;
}

.operator {
    color: #94e2d5;
}

.bracket {
    color: #9399b2;
}

.object-key {
    color: inherit;
}

.colon {
    color: #94e2d5;
}

.number {
    color: #fab387;
}

.string {
    color: #a6e3a1;
}

.comma {
    color: #9399b2;
}

.semicolon {
    color: #9399b2;
}
