html,
body {
    color: #abb2bf;

    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #282c34;
}

.keyword {
    color: #c678dd;
}

.local-variable {
    color: #e06c75;
}

.operator {
    color: #56b6c2;
}

.bracket {
    color: inherit;
}

.object-key {
    color: #e06c75;
}

.colon {
    color: inherit;
}

.number {
    color: #d19a66;
}

.string {
    color: #98c379;
}

.comma {
    color: inherit;
}

.semicolon {
    color: inherit;
}
