html,
body {
  color: #b6b1b1;

  font-family: Consolas, "Courier New", monospace;
}

body {
  background-color: #262335;
}

.keyword {
  color: #fede5d;
  text-shadow: 0 0 2px #000;
}

.local-variable {
  color: #ff7edb;
  text-shadow: 0 0 2px #000;
}

.operator {
  color: #fede5d;
  text-shadow: 0 0 2px #000;
}

.bracket {
  color: #fede5d;
  text-shadow: 0 0 2px #000;
}

.object-key {
  color: #2ae2ed;
  text-shadow: 0 0 2px #000;
  /* Can look good too but not the same as the theme */
  /* color: #72f1b8; */
}

.number {
  color: #2ae2ed;
  text-shadow: 0 0 2px #000;
}

.string {
  color: #ff8b39;
  text-shadow: 0 0 2px #000;
}
